<% if user_signed_in? %>
    <%= "Hello, " + current_user.name %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <%= link_to 'Edit profile', edit_user_registration_path %>
<% else %>
    <%= link_to "Sign-up", new_user_registration_path %>
    <%= link_to "Sign-in", new_user_session_path %>
<% end %>



    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="indexcontainer">
<h1>Welcome#index</h1>

<div id="clock">
    <p id="date">{{ date }}</p>
    <p id="time">{{ time }}</p>
    <p id="text">YOUR WORLD </p>
</div>

